.dashboard
  .main-col
    .events
      = render @events or t('events.empty')
  .side-col
    = link_to t(".projects"), projects_path, class: 'to-projects', data: { push: true }
    .projects
      = render partial: @projects, layout: 'projects/list_item' || t('projects.empty')
