.row
  .col-xs-12.col-sm-9
    = render partial: 'events/events'
  .col-xs-6.col-sm-3
    .dashboard-to-projects
      = link_to t(".project_list"), projects_path
    = render partial: 'projects/projects'
