defaults: &defaults

  host: localhost
  port: 3000

  build:
    tmp_dir: <%= Rails.root.join("tmp") %>

  redis:
    host: localhost
    port: 6379

  gitlab:
    host: localhost
    api_version: 3

production:
  <<: *defaults

development:
  <<: *defaults
test:
  <<: *defaults
