
.event-icon .glyphicon {
    display: inline-block;
    color: #fff;
    background-color: $brand-primary;
    font-size: 40px;
    padding: 12px;
    width: 64px;
    height: 64px;
    text-align: center;
    vertical-align: baseline;
    border-radius: 12px
}
