
.projects {
  @extend .list-group;
  .project-item {
    @extend .list-group-item;
  }

  .project {
    padding-top: 0;
    
    .link { display: none; }
    .description { display: none; }
  }
}

.project {
  position: relative;
  padding-top: $line-height-computed / 2;
  
  .header {
    @extend h4;
    word-break: break-all;

    .namespace {
      @extend small;
    }
    .name {
      color: $brand-primary;
    }
  }
  .link {
    word-wrap: break-word;
  }
  .description {
    @extend .well;
    margin-top: 12px;
  }

  .activation {
    position: absolute;
    right: -9px;
    top: -14px;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid $gray-lighter;

    &.on {
      background: $brand-primary;
    }
  }
  a.activation {
    @extend .btn;
    @extend .btn-default;
    min-width: 60px;
    width: auto;
    height: auto;
    text-align: center;

    &.on {
      @extend .btn-primary;

      .on { display: inline; }
      .off { display: none; }
    }

    .on { display: none; }
  }
}

